<app-student-head></app-student-head>
<div class="container">
    <div class="container">
        <label>Id:</label>
        &nbsp;&nbsp;&nbsp;
        <label>{{student.studentId}}</label>
    </div>
    <br>
    <div class="container">
        <label>Name:</label>
        &nbsp;&nbsp;&nbsp;
        <label>{{student.studentName}}</label>
    </div>
    <br>
    <div class="container">
        <label>Email:</label>
        &nbsp;&nbsp;&nbsp;
        <label>{{student.email}}</label>
    </div>
    <br>
    <div class="container">
        <label>BookLimit:</label>
        &nbsp;&nbsp;&nbsp;
        <label>{{student.bookLimit}}</label>
    </div>
    <br>
</div>